* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    margin: 50px auto;
}

.block {
    border: 1px solid black;
    margin: 10px;
    background-color: slategray;
    position: relative;
    border-radius: 8px;
}

.title  {
    width: 100px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding: 5px;
    background-color: coral;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    right: 0;
    border-radius: 8px;
}

.content {
    margin: 0;
    padding: 30px;
    text-align: justify;
    font-style: italic;
}


/* Table mode */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-6:last-child {
        clear: both;
        width: 100%;
    }
}

/* Desktop mode */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
}
